<div class="container">
    <h1>Tasks zone</h1>
    <ul>
        <li>Flux</li>
        <li>Document</li>
        <li>Raspuns</li>
    </ul>
    <ul >
        <li ng-repeat="task in $ctrl.tasks">
            <div>{{task.flux}} {{task.document}} 
            {{task.answer}}
                <select ng-model="task.answer" ng-change="$ctrl.updateAnswer(task)">
                    <option disabled selected hidden>{{task.answer}}</option>
                    <option ng-repeat="option in $ctrl.answerOptions">{{option.name}}</option>
                </select>
            </div>
        </li>
    </ul>
</div>

<div ui-view></div>