body {
}

.table-headers {
    height: 50px;
}

.table-header {
    display: inline-flex;
    height: 50px;
    width: 370px;
    border-bottom: 3px solid #3ED6E4;
    background-color: #12B7D7;
    text-align: center;
    font-size: 20px;
    float: right;
    margin-left: 2px;
}

.table-header p {
    font-size: 22px;
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

p {
    margin: auto;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

.flux-element {
    display: inline-flex;
    height: 50px;
    width: 370px;
    text-align: center;
}

.document-element {
    display: inline-flex;
    height: 50px;
    width: 370px;
    text-align: center;
}

.status-element {
    display: inline-flex;
    height: 50px;
    width: 370px;
    text-align: center;
    padding: 0;
}

.dropdown-element {
    height: 50px;
    width: 370px;
    text-align: center;
    padding: 0;
    display: inline-flex;
}

    .dropdown-element select {
        width: 250px;
        text-align: center;
        height: 30px;
        border-radius: 5px;
    }

.table-rows li {
    border-bottom: 1px solid #3ED6E4;
    height: 70px;
    width: 1120px;
    padding-top: 10px;
}

h1 {
    margin-bottom: 50px;
     font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.table-container {
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    padding: 10px;
    min-height: 700px;
}
