<div class="container">
    <h1>Tasks zone</h1>
    <div class="table-container">
        <div class="table-headers">
            <div class="table-header">
                <p>Answer</p>
            </div>
            
            <div class="table-header">
                <p>Document</p>
            </div>
            <div class="table-header">
                <p>Flux</p>
            </div>

        </div>
        <div class="table-rows">
            <ul>
                <li ng-repeat="task in $ctrl.tasks">
                    <div class="table-row">
                        <div class="flux-element">
                            <p>{{task.flux}} 
                                <button ng-click="$ctrl.startFlow(task)" type="button" class="btn btn-default btn-sm" style="margin-left: 20px;">
                                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Start
                                </button>
                            </p>
                        </div>
                        <div class="document-element">
                            <p>{{task.document}}</p>
                        </div>
                        <div class="status-element">
                            <div class="dropdown-element">
                                <p>
                                    <select ng-model="task.answer.name" ng-change="$ctrl.updateAnswer(task)">
                                        <option disabled selected hidden>{{task.answer.name}}</option>
                                        <option ng-repeat="answer in $ctrl.answerOptions">{{answer.name}}</option>
                                    </select>
                                </p>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ui-view></div>